# Pythonの基礎2

# 練習問題

# (1) for文、文字列の操作
あらかじめ、文字列"Fukuoka, Saga, Nagasaki, Kumamoto, Oita, Miyazaki, Kagoshima"が定義してあります。この文字列をsplitやstripなどの命令で操作して、"SagaOita"という文字列を作成してください。作成した文字列は、print関数で画面に表示してください。

In [ ]:
kyushu = "Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa"

# プログラムを作成してみましょう

## (2) if文、関数
次のような関数を自作してみましょう。

* 関数名は odd_or_even
* 関数の引数は、整数の数値を1つ
* 関数の戻り値は、次のとおり
  * 引数が奇数なら、戻り値は文字列"ODD"
  * 引数が偶数なら、戻り値は文字列"EVEN"

関数呼び出し部分はすでに記述してありますので、関数の定義だけ記述すればOKです。

【ヒント】

奇数か偶数かを、if文を使って判定します。判定方法は、最初の講義で学んだ「算術演算子」のどれかを使います。

In [ ]:
# ここに関数 odd_or_even を記述しましょう


# 関数の呼び出し (変更不要です)
return_value = odd_or_even(10)
print("10 is " + return_value)

return_value = odd_or_even(15)
print("15 is " + return_value)